<a href="https://colab.research.google.com/github/sharonchan9021/20220720ML/blob/main/week3_lab4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!wget https://raw.githubusercontent.com/PacktPublishing/Learning-Pandas-Second-Edition/master/data/msft.csv

--2022-08-12 09:29:44--  https://raw.githubusercontent.com/PacktPublishing/Learning-Pandas-Second-Edition/master/data/msft.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.109.133, 185.199.110.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 153109 (150K) [text/plain]
Saving to: ‘msft.csv’

msft.csv            100%[===================>] 149.52K  --.-KB/s    in 0.03s

2022-08-12 09:29:45 (5.44 MB/s) - ‘msft.csv’ saved [153109/153109]

In [ ]:
!head -n 5 msft.csv

Date,Open,High,Low,Close,Volume
7/21/2014,83.46,83.53,81.81,81.93,2359300
7/18/2014,83.3,83.4,82.52,83.35,4020800
7/17/2014,84.35,84.63,83.33,83.63,1974000
7/16/2014,83.77,84.91,83.66,84.91,1755600

In [14]:
import pandas as pd
msft = pd.read_csv("./msft.csv")
msft[:5]

        Date   Open   High    Low  Close   Volume
0  7/21/2014  83.46  83.53  81.81  81.93  2359300
1  7/18/2014  83.30  83.40  82.52  83.35  4020800
2  7/17/2014  84.35  84.63  83.33  83.63  1974000
3  7/16/2014  83.77  84.91  83.66  84.91  1755600
4  7/15/2014  84.30  84.38  83.20  83.58  1874700

In [ ]:
# use column 0 as the index
msft = pd.read_csv("./msft.csv", index_col=0)
msft[:5]

            Open   High    Low  Close   Volume
Date
7/21/2014  83.46  83.53  81.81  81.93  2359300
7/18/2014  83.30  83.40  82.52  83.35  4020800
7/17/2014  84.35  84.63  83.33  83.63  1974000
7/16/2014  83.77  84.91  83.66  84.91  1755600
7/15/2014  84.30  84.38  83.20  83.58  1874700

In [ ]:
df3 = pd.read_csv("./msft.csv", usecols=['Date', 'Close'])
df3[:5]

        Date  Close
0  7/21/2014  81.93
1  7/18/2014  83.35
2  7/17/2014  83.63
3  7/16/2014  84.91
4  7/15/2014  83.58

In [ ]:
df2 = pd.read_csv("./msft.csv", usecols=['Date', 'Close'], index_col=['Date'])
df2[:5]

           Close
Date
7/21/2014  81.93
7/18/2014  83.35
7/17/2014  83.63
7/16/2014  84.91
7/15/2014  83.58

In [ ]:
df2.to_csv("./msft_A999168.csv", index_label='date')

In [ ]:
!head -n 5 ./msft_A999168.csv

date,Close
7/21/2014,81.93
7/18/2014,83.35
7/17/2014,83.63
7/16/2014,84.91

## EXCEL

In [16]:
df = pd.read_excel("./stocks.xlsx")
df[:5]

FileNotFoundError: ignored